<f:spaceless>
    <div id="outer-wrap">
        <div id="banner">
            <div id="banner-image">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2'}" />
            </div>
            <nav class="row">            
                <f:render partial="Navigation/Main" arguments="{menuMain: menuMain}" />
            </nav>
            <div id="banner-logo">              
            </div>
        </div>
        <main role="main">
            <div class="row">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
            </div>
        </main>
        <footer>
            <f:render partial="Navigation/Footer" arguments="{menuFooter: menuFooter}" />
        </footer>
    </div>
</f:spaceless>