.ce-textpic {
    display: flex;
    flex-wrap: wrap;

    &.ce-above {
        .ce-gallery {
            order: 1;
        }

        .ce-bodytext {
            order: 2;
        }

        &.ce-center {
            justify-content: center;
        }

        &.ce-left {
            justify-content: flex-start;
        }

        &.ce-right {
            justify-content: flex-end;
        }
    }

    &.ce-below {
        .ce-gallery {
            order: 2;
        }

        .ce-bodytext {
            order: 1;
        }

        &.ce-center {
            justify-content: center;
        }

        &.ce-left {
            justify-content: flex-start;
        }

        &.ce-right {
            justify-content: flex-end;
        }
    }

    &.ce-intext {
        justify-content: space-between;

        img {
            width: 100%;
        }
        .ce-gallery {
            width: 40%
        }

        .ce-bodytext {
            width: 57%
        }

        &.ce-left {
            .ce-gallery {
                order: 1;
            }

            .ce-bodytext {
                order: 2;
            }
        }

        &.ce-right {
            .ce-gallery {
                order: 2;
            }

            .ce-bodytext {
                order: 1;
            }
        }
    }

}