<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div id="c{data.uid}">
        <f:debug title="Textmedia">{_all}</f:debug>
        <f:if condition="{gallery.position.noWrap} != 1">
            <f:render partial="Header" arguments="{_all}" />
        </f:if>
        <div class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
            <f:if condition="{gallery.position.vertical} != 'below'">
                <f:render partial="MediaGallery" arguments="{_all}" />
            </f:if>
            <f:if condition="{data.image = 0}">
                <f:then>
                    <f:format.html>{data.bodytext}</f:format.html>
                </f:then>
                <f:else>
                    <div class="ce-bodytext">
                        <f:if condition="{gallery.position.noWrap}">
                            <f:render partial="Header" arguments="{_all}" />
                        </f:if>
                        <f:format.html>{data.bodytext}</f:format.html>
                    </div>
                </f:else>
            </f:if>
            <f:if condition="{gallery.position.vertical} == 'below'">
                <f:render partial="MediaGallery" arguments="{_all}" />
            </f:if>
        </div>
        <f:render partial="Footer" arguments="{_all}" />
    </div>    
</html>
